@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$base-accent-color: #335588 !default;
$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$dark-gray: #333 !default;
$large-screen: em(860) !default;

$base-spacing: 1.5em !default;
$medium-screen: em(640) !default;
